<div id="page" class="container">

	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
	<link href="/public/css/recipe-detail.css" rel="stylesheet" type="text/css" media="all" />
	<div id="recipeSide">
		<div id="logo">
			<img src="{{profilePicPath}}" alt="" />
			<h1><a>{{firstName}} {{lastName}}</a></h1>
			<span>{{personalSummary}}</span>
		</div>
		<div id="menu">
            <ul>
                {{#if self}}
                <li><a href="/user/edit_profile">EDIT PROFILE</a></li>
                {{else if following}}
                <li class="unselectable"><a><button formmethod="post" type="submit" formaction"/user/follow/:{{userId}}" class="follow-btn">UNFOLLOW</button></a></li>
                {{else}}
                <li class="unselectable"><a><button formmethod="post" type="submit" formaction="/user/follow/:{{userId}}" class="follow-btn">FOLLOW</button></a></li>
                {{/if}}
                <li><a href="/user/followers"><p class="date"><b>{{followers.length}}</b> Followers</p></a></li>
                <li><a href="/user/followees"><p class="date"><b>{{followees.length}}</b> Followees</p></a></li>
                {{#if self}}
                <li class="unselectable"><a><button formmethod="post" type="submit" formaction="/user/logout" class="follow-btn">LOGOUT</button></a></li>
                {{/if}}
            </ul>

		</div>
	</div>

	<div id="recipeMain">
		{{#each followees}}
		<div class="card-box col-md-6 col-sm-7">
			<div class="card" data-background="color" data-color={{backgroundColor}}>
				<div class="header">
					<!-- TODO: read artical link -->
					<img src={{profilePicPath}}>
				</div>

				<div class="content">
					<h4 class="title"><a href="/user/:{{userId}}"}>{{lastName}} {{firstName}}</a></h4>
					<p class="description">{{personalSummary}}</p>
				</div>
			</div> <!-- end card -->
		</div>
		{{/each}}

	</div>
</div>
