
<div id="page" class="container">

	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
	<link href="/public/css/recipe-detail.css" rel="stylesheet" type="text/css" media="all" />
	<div id="recipeSide">
		<div id="logo">
			{{!--{{#with creator}}--}}
			<img src="{{profilePicPath}}" alt="" />
			<h1><a href="/user/{{id}}">{{creatorName}}</a></h1>
			<span>{{personalSummary}}</span>
			{{!--{{/with}}--}}
		</div>
		<div id="menu">
			<ul>
                <li><a href="/category/{{category}}"><p class="date">Category: <b>{{category}}</b></p></a></li>
                <li><a><p class="date">Posted on <b>{{createdDate}}</b></p></a></li>
			</ul>
		</div>
	</div>

	<div id="recipeMain">

        {{#if self}}
            <div class="header">
                <a id="editButton" class="btn" href="/recipe/edit_recipe/{{recipeid}}">Edit This Recipe</a>
            </div>
        {{else}}
            <div class="header">
                {{#if favorited}}
                <button id="favorite" class="btn" type="submit" formmethod="post" formaction="/user/unfavorite/{{id}}">Unfavorite</button>
                {{else}}
                <a href="/user/favorite/{{recipeid}}" id="favorite" class="btn">Favorite</a>
                {{/if}}
            </div>
        {{/if}}
        <br/>


		{{#if recipePicPath}}
		<div id="banner">
            <div id="recipe-profile">
                <img src="{{recipePicPath}}" alt="" class="image-full" />
            </div>
		</div>
		{{/if}}
		<div id="welcome">
			<div class="title">
				<h2>{{title}}</h2>
			</div>
			<p>{{description}}</p>
			<br />
		</div>

		<!-- ingredients -->
		<div class="featured">
			<div class="title">
				<h3>Ingredients</h3>
			</div>
			<ul class="style1">
				{{#each ingredients}}
				<li>
					<p class="date"><b>{{index}}</b></p>
					<h3>{{name}}</h3>
					<p>{{amount}}</p>
				</li>
				{{/each}}
			</ul>
			<br />
		</div>

		<!-- steps -->
		<div class="featured">
			<div class="title">
				<h3>Steps</h3>
			</div>
			<ul class="style1">
				{{#each steps}}
				<li>
					<p class="date"><b>{{index}}</b></p>
					<!-- <h3>{{index}}</h3> -->
					<p>{{operation}}</p>
				</li>
				<br />
				{{/each}}
			</ul>
			<br />
		</div>

		<!-- comment box -->
		<div class="row page_margin_top_section">
			<div class="comment_title">
				<h3>Leave a Comment</h3>
			</div>
			<form class="comment_form" id="commentForm" name="commentForm">
					<textarea type="text" name="message" placeholder="Comment *" class="hint"></textarea>

                    {{#if loginUserId}}
                    <button class="comment_button" formmethod="post" formaction="/recipe/{{recipeid}}/postComment">SUBMIT</button>
                    {{else}}
                    <button class="comment_button" formmethod="post" formaction="/login">Login/Signup</button>
                    {{/if}}
			</form>
			<br />
		</div>

		<!-- comments -->
		<div class="featured">
			<h3 class="title">{{comments.length}} Comments</h3>
			<ul id="style1">
				{{#each comments}}
				<li class="comment clearfix">
					<div class="comment_author_avatar">
						<img src={{profilePicPath}} />
						<div class="posted_by clearfix">
							<h5><a class="author" href="#">{{firstName}} {{lastName}}</a></h5>
						</div>
						<abbr class="timeago">{{date}}</abbr>
					</div>
					<div class="comment_details">
						<p>{{content}}</p>
					</div>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>
